* {
    margin: 0;
    padding: 0;
}

.banner {
    display: none;
}

.body h1{  
    padding: 15px;
    background: linear-gradient(to right, #8EB3F5, #72757a);
}

div1{
    position: relative;
    background-color: rgba(255, 0, 0, 0);
    animation-name: text;
    animation-duration: 3s;
}
.body{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 0);
    text-align: center;
    width: 100%;
    background: linear-gradient(to right, #72757a, #8EB3F5);
    overflow-x: hidden;
}

.center {
    padding-top: 20px;
    width: 100%;
}

.play_btn {
    background: radial-gradient(circle, #8EB3F5 55%, #535559 80%);
    border-radius: 100%;
    border-style: calc(circle);
    padding: 10px;
    width: 100px;
    
}

.play_btn:hover {
    box-shadow: 0 0 1px 1px rgba(0, 140, 186, 0.5);
}

@media screen and (min-width: 767px) {
    .banner{
        display: block;
        width: 100%;
    }
}

@keyframes example {
    0%   {background-color:rgba(255, 0, 0, 0); left:-120%; top:0px;}
    50%   {background-color:rgba(255, 0, 0, 0); left:120%; top:0px;}
    100% {background-color:rgba(255, 0, 0, 0); left:0px; top:0px;}
  }

  /* The element to apply the animation to */
  a {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgba(255, 0, 0, 0);
    animation-name: example;
    animation-duration: 5s;
  }

  @keyframes text {
    0%   {background-color:rgba(255, 0, 0, 0); left:-120%; top:0px;}
    50%  {background-color:rgba(255, 0, 0, 0); left:120%; top:0px;}
    100% {background-color:rgba(255, 0, 0, 0); left:0px; top:0px;}
}

.body p{
    margin: 10px;
}